# Virtual environment
mlflow_env/
ENV/
env/
.env/

# Byte-compiled / cached files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / editor files
.vscode/
.idea/
*.iml

# macOS system files
.DS_Store

# Logs, databases, temp files
*.log
*.sqlite3
*.db
*.tmp
*.bak

# Build / distribution
*.egg
*.egg-info/
dist/
build/
*.whl
